/* ========= COMMON STYLES ========= */
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}
  
img {
    display: blok;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

 body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff; 
    margin: 0;
 }

 .accent-color {
     color: #4D5AE5;
 }

 h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
 }

 .section-paddings {
    padding-top: 120px;
    padding-bottom: 120px;
 }

 .section-title {
padding-bottom: 72px;
text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
 }

 /* ========= HEARD STYLES ========= */
 .container {
     max-width: 1158px;
     margin-left: auto;
     margin-right: auto;
     padding-left: 15px;
     padding-right: 15px;
 }

 .header-container {
     display: flex;
    align-items: center;
    margin-top: 24px;
    border-bottom: 1px solid #e7e9fc;
        width: 1440px;
        height: 72px;
 }

.page-headr{
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
   border-bottom: 1px solid #e7e9fc;
background: #fff;
}

 .page-nav {
    display: flex;
    align-items: center;
 }

.page-logo {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;  
}

 .menu {
    display: flex;
    gap: 40px;
 }

.menu-link {
    position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .menu-link.studio::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 48px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    display:block;
    margin-top: 20px;
 }

.text-studio {
    color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.menu-adress {
display: flex;
gap: 40px;
}

.page-adress {
    font-style: normal;
    margin-left: auto;
}

.adress-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-link:hover,
.adress-link:focus {
    color: #404bbf;
}

/* ========= HERO STYLES ========= */
.hero-container {
    box-sizing: content-box;
    margin: auto;
}

.hero {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/fon/people-office.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-container {
    color: #ffffff;
}

.title-hero {
    margin: auto;
    margin-bottom: 48px;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
 
.button-hero {
    margin: auto;
    display: block;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background-color: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buton-hero:hover,
.button-hero:focus {
background-color: #404bbf;
}

/* ========= BENEFITS STYLES ========= */

.benefits-container {
    box-sizing: content-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.menu-benefits {
    display: flex;
    gap: 24px;
}

.main-benefits{
    display: flex;
        gap: 24px;
        align-items: center;
        justify-content: center;
    border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        margin-bottom: 8px;
}

.icon-benefits{
   margin: 24px 100px;
}

.item-benefits {
    width: calc((100%-72px)/4);
}

.title-benefits {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.text-benefits {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* ========= TEAM STYLES ========= */

.team-container {
    box-sizing: content-box;
}

.title-team {
    margin-bottom: 72px;
}
 .menu-team {
    display: flex;
    gap: 24px;
    height: 428px;
 }

.team {
    background: #f4f4fd;
}

.item-team {
border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: calc((100%-72px)/4);
    background: #ffffff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.img-team {
    display: block;
    max-width: 100%;
    height: auto;
}
.name-text-team {
padding: 32px 0px;
}

.name-team {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}

.text-team {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
}

.social-list{
    display: flex;
    align-items: center;
        justify-content: center;
        gap: 24px;
}

 .social-list-atem {
    width: 40px;
    height: 40px;
 }

.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
        line-height: 0;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-atem .social-list-link:hover,
.social-list-atem .social-list-link:focus {
    background-color: #404bbf;
}

.social-list-icon{
    fill: #f4f4fd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/* ========= PORTFOLIO STYLES ========= */
.title-portfolio {
    margin-bottom: 72px;
}
.menu-portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.img-portfolio {
display: block;
max-width: 100%;
height: auto;
}

.item-portfolio {
    background: #fff;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-portfolio:hover,
.item-portfolio:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.sub-text-portfolio {
    border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        padding: 32px 16px;
        width: 360px;
        height: 120px;
}
.subtitle-portfolio { 
  margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.text-portfolio {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-portfolio:hover .text-overlay {
  transform: translateY(0);

}
/* ========= FOOTER STYLES ========= */

.footer {
    padding: 100px 0;
    background-color: #2e2f42;
}

.footer-container {
    display: flex;
    align-items: baseline;
}
 .logo-text{
    margin-right: 120px;
 }

.link-footer {
    display: inline-block;
    margin-bottom: 16px;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4d5ae5;
}

.text-web-footer {
    color: #f4f4fd;
}

.text-footer {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.text-foter-social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.social-list-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.social-list-atem-footer {
    width: 40px;
    height: 40px;
}

.social-list-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    position: relative;
    width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon {
    fill: #f4f4fd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.social-list-atem-footer .social-list-link-footer:hover,
.social-list-atem-footer .social-list-link-footer:focus {
    background-color: #31d0aa;
}
.footer-form-commet{
    display: flex;
    align-items: flex-end;
    justify-content: start;
    margin-left: 80px;
    gap: 24px;
    
}
.footer-form-text{
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    margin-left: 80px;
}

.footer-form-input{
    border: 1px solid #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        width: 264px;
        height: 40px;
        background-color: transparent;
        padding: 0;
        letter-spacing: 0.04em;
        line-height: 2;
        font-size: 12px;
        color: #ffffff;
        padding-left: 16px;
}

.footer-form-input::placeholder{
    color: #ffffff;
}

.fotter-form-btn {
    position: relative;
    margin: 0;
    border-radius: 4px;
    padding: 0;
    height: 40px;
    background: #4d5ae5;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    min-width: 165px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fotter-form-btn:focus,
.fotter-form-btn:hover {
    background-color: #404bbf;
}

.fotter-form-icon{
    margin-left: 16px;
    fill: #f4f4fd;
}
/*--=========BACKDROP=========--*/

.backdrop {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
    border-radius: 4px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
            padding: 0;
            cursor: pointer;
            border: 1px solid rgba(0, 0, 0, 0.1);
            background-color: #e7e9fc;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobal-close-btn:hover,
.mobal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobal-close-btn:hover > .modal-close-icon,
.mobal-close-btn:focus > .modal-close-icon{
    fill: #FFFFFF;
}

.review-form-deskription{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 16px;
        color: #2e2f42;
}
.review-form-field-wrapper{
    margin-bottom: 8px;
}

.review-form-field-textarea{
    margin-bottom: 16px;
}

.review-form-field-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.review-form-input{
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 360px;
        height: 40px;
        padding-left: 38px;
        outline: transparent;
        background-color: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input:focus{
    border-color: #4d5ae5;
    outline: transparent;

}

.review-form-icon{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
   fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input-wrapper{
    position: relative;
}

.review-form-input:focus + .review-form-icon{
    fill: #4d5ae5 ;
}

.review-form-comment{
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 120px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        background-color: transparent;
        resize: none;
        padding: 8px 16px;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-comment:focus {
    border-color: #4d5ae5;
    outline: transparent;
}

.review-form-comment::placeholder{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}
.review-form-checkbox-label{
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
}

.privacy-policy-link{
    color: #4d5ae5;
    text-decoration: underline;
}

.review-form-checkbox-wrapper{
    margin-bottom: 24px;
}

.review-form-own-checkbox{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        width: 16px;
        height: 16px;
        cursor: pointer;
        fill: transparent;
        margin-right: 8px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox:checked + .review-form-checkbox-label .review-form-own-checkbox {
background-color: #404bbf;
border: none;
fill: #f4f4fd;
}

.review-form-own-checkbox-icon{
    
}
.review-form-checkbox:focus + .review-form-checkbox-label .review-form-own-checkbox{
    outline: 1px solid rgba(0, 0, 225, 0.5);
}
.review-form-submit{
    margin: auto;
    display: block;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-submit:hover,
.review-form-submit:focus {
    background-color: #404bbf;
}
 
 